
    <title>Título da Página</title>
    <%- include('./partials/header.ejs') %>

<body>
    <%- include('./partials/navbar.ejs') %>
    <!-- Conteúdo da página aqui -->
    <%- include('./partials/footer.ejs') %>
</body>
